@media screen and (min-width: 1200px) {
	.container {
		max-width: 1158px;
	}
	.team {
		padding: 120px 0;
	}

	.team-item {
		width: calc((100% - 72px) / 4);
	}
	.companies {
		padding: 120px 0;
	}
	.companies-item {
		width: 168px;
	}
	.work {
		display: block;
	}

	.features {
		padding: 120px 0;
	}
	.features-list {
		display: flex;
		gap: 24px;
	}
	.features-box {
		display: flex;
	}
	.features-subtitle {
		font-size: 20px;
	}
	.features-item {
		width: calc((100% - 72px) / 4);
	}

	.footer {
		padding: 100px 0;
	}
	.display-primary {
		flex-wrap: nowrap;
	}
	.footer-social-container {
		margin-left: 120px;
	}
	.fopter-susccribe-form {
		margin-left: 80px;
	}

	.contacts-list {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.header-logo {
		margin-right: 76px;
	}
	.contacts-list {
		margin-left: 332px;
	}
	.contacts-item:not(:last-child) {
		margin-right: 40px;
	}
}
