@media screen and (min-width: 767px) {
	.container {
		max-width: 766px;
	}
	.team-item {
		width: calc((100% - 24px) / 2);
	}
	.team-list {
		gap: 24px;
		row-gap: 64px;
	}

	.companies-item {
		width: calc((100% - 48px) / 3);
	}
	.companies-list {
		gap: 72px 24px;
	}

	.features-list {
		display: flex;
		flex-wrap: wrap;
		gap: 72px 24px;
	}
	.features-item:not(:last-child) {
		margin-bottom: 0px;
	}

	.features-item {
		width: calc((100% - 24px) / 2);
	}
	.features-subtitle {
		font-weight: 500;
	}
	.features-description {
		font-weight: 400;
	}

	.display-primary {
		max-width: 565px;
		display: flex;
		align-items: flex-start;
		flex-direction: row;
	}
	.footer-logo {
		justify-content: flex-start;
	}
	.footer-text-container {
	}
	.footer-social-container {
		margin-left: 24px;
	}
	.footer-social-title {
		text-align: left;
	}
	.footer-social-list {
	}
	.fopter-susccribe-form {
		/* margin-left: 80px; */
		display: block;
	}
	.footer-form-subtitle {
	}
	.footer-form {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}
	.footer-form-input {
		width: 264px;
		margin-right: 24px;
	}
	.footer-form-subtitle {
		text-align: left;
	}
	.header {
		padding: 2px 0;
	}
	.header-list {
		display: flex;
		gap: 40px;
	}

	.header-link {
		font-weight: 500;
		font-size: 16px;
		color: var(--header-link-color);
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		padding-bottom: 14px;
	}
	.active {
		color: var(--accent-color);
		position: relative;
	}
	.header-link.active::after {
		position: absolute;
		left: 0;
		bottom: 0;
		content: "";
		width: 100%;
		height: 5px;
		background-color: var(--accent-color);
		border-radius: 4px;
	}
	.header-item {
		margin-bottom: 0;
	}
	.header-logo {
		margin-right: 120px;
	}
	.header-nav-wrap {
		display: flex;
		flex-direction: row;
		width: unset;
		height: unset;
		position: static;
		padding: 0;
		align-items: center;
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		padding: 0;
		transform: translate(0);
	}
	.header-btn-menu-close {
		display: none;
	}
	.menu-button {
		display: none;
	}
	.contacts-list {
		display: inline-flex;
		margin-left: 100px;
	}
	.contacts-item {
		margin-bottom: 0;
	}
	.contacts-link {
		font-weight: 400;
		font-size: 12px;
	}
	.tel-contacts-link {
		font-weight: 400;
		font-size: 12px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: var(--contacts-text-color);
	}
	.mobile-social {
		display: none;
	}

	.hero {
		max-width: 768px;
		height: 436px;
	}
	.hero-title {
		font-size: 56px;
	}

	.comment {
		height: 120px;
	}
	.modal {
		width: 408px;
		height: 584px;
	}
}

/* @media screen and (min-width: 768px), (max-width: 1199px) {
	.container-sm {
		max-width: 552px;
	}
} */
