@media screen and (min-width: 767px) {
	.container {
		max-width: 766px;
	}
	.team-item {
		width: calc((100% - 24px) / 2);
	}
	.team-list {
		row-gap: 64px;
	}

	.companies-item {
		width: calc((100% - 48px) / 3);
	}
	.companies-list {
		gap: 24px;
	}

	.features-list {
		display: flex;
		flex-wrap: wrap;
	}

	.features-item {
		width: calc((100% - 24px) / 2);
	}
}

@media screen and (min-width: 768px), (max-width: 1199px) {
	.container-sm {
		max-width: 552px;
	}

	.display-primary {
		max-width: 565px;
		display: flex;
	}
}
